body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(18, 127, 190), rgb(11, 83, 112))
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 20px;
   
}
fieldset{
    border:3px solid rgb(0, 197, 197);
}
legend{
    text-align: center;
    font-weight: bold;
}
.inputBox{
    position: relative;
    margin: 25px;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white ;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.LabelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .LabelInput,
.inputUser:valid ~ .LabelInput{         
    top:-20px;
    font-size: 12px;
    color: rgb(0, 197, 197) ;
}
#submit{
    background-image: linear-gradient(to right, rgb(18, 184, 190), rgb(11, 105, 112));
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
}
#submit:hover{
    background-image: linear-gradient(to top, rgb(36, 139, 143), rgb(11, 69, 73));
}
